@charset "UTF-8";

/*estilo para impressoras*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace; /*fonte padrão para impressão*/
    font-size: 1em;
    line-height: 1.5em; /*espeçamento entre linhas*/
}

menu {
    display: none; /*tira o menu*/
}

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}