@charset "UTF-8";

/*CONFIGURAÇÃO PARA TELA DE CELULAR*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;  
    cursor: pointer; /*Cursor vira uma mãozinha*/ 
}

span#burguer:hover {
    
    background-color: white;
    color: black;
}
menu {
    display: none; /*Esconde o menu*/
}

menu > ul {
    list-style-type: none; /*Tira os marcadores da lista*/ 
}

menu > ul >li > a {
    display: block;
    padding:  10px;
    text-decoration: none; /*Tira o sublinhado*/ 
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray; /*Linhas menu*/ 
}

menu > ul >li > a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px; /*Espaçamento em baixo*/  
}

article > p {
    text-align: justify; /*Alinhamento do texto*/
    margin-bottom: 20px;
    text-indent: 20px;
}